# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular langauges that Data Scientists use
- List libraries used by Data Scientists
- Evaluating Arithmetic Expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. TensorFlow
5. PyTorch
6. Seaborn
7. Ggplot2

| Data Science Tools |
| ------ |
| Jupyter Notebooks |
| Anaconda |
| R Studio |
| Spyder |
| Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 // 60

3

## Author
V.Chaitanya